* {
	margin: 0;
	padding: 0;
}

ul,li{
	list-style: none;
}

.box{
	display: flex; 
	flex-direction: column;
	padding: 3%;
}


.box_head{
	margin-bottom: 2%;
}

#question{
	font-size: 2rem;
	width: 100%;
	height: auto;

}